body{
    font-family: fantasy;
    background-color: whitesmoke;
    padding: 10px;
}
li{
    list-style: none;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
li > form > button{
    margin: 10px;
}
li > form {
    padding-top: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
}

nav{
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    border-top: black dotted;
    border-bottom: black dotted;
}
form{
    padding-top: 20px;
}

nav > a{
    color: black;
}